<style type="text/css">.error {color: red;}</style>

<h1>Edit Profile</h1>
<br>

<form action="/edit-save" method="POST">
	<table>
		<tr>
			<td>Username / Email:</td>
			<td><input type="email" name="username" value="{{ .UserName }}" readonly></td>
		</tr>
		<tr>
			<td>Full Name:</td>
			<td><input type="fullname" name="fullname" value="{{ .Fullname }}"></td>
		</tr>
		<tr>
			<td>Telephone:</td>
			<td><input type="telephone" name="telephone" value="{{ .Telephone }}"></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><input type="address" name="address" value="{{ .Address }}"></td>
		</tr>
	</table>
	<br>

	<input type="submit" value="Save & Continue">
</form>		
<form action="/main-profile" method="GET">
	<input type="submit" value="Cancel">
</form>		

