<style type="text/css">.error {color: red;}</style>

<h1>Forgot password</h1>
<br>

<form action="/forgot-password" method="POST">
	<p class="error">{{ .ErrMsg }}</p>
	<table>
		<tr>
			<td>Email:</td>
			<td><input type="email" name="email" value="" required></td>
		</tr>
	</table>
	<br>

	<input type="submit" value="Send Reset Link">
</form>		
<form action="/" method="GET">
	<input type="submit" value="Back to Login">
</form>		

