<head>
	<meta name="google-signin-client_id" content="479908816629-io6ouje8l29s81u508h6a1do7d4l0ji5.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<style type="text/css">.error {color: red;}</style>

	<script>
		function onSignIn() {
			var profile = googleUser.getBasicProfile();
			window.location.href = '/edit';
		}
	</script>
	<script>
		function signOut() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut();
			alert('User signed out.');
		}
	</script>
</head>

<body>
	<h1>Go Challenge 2022 - Login</h1>
	<br>

	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<br>
	<a href="#" onclick="signOut();">Sign out Google</a>

	<form action="/login" method="POST" novalidate>
		<div>
			<p class="error">{{ .ErrMsg }}</p>
			<table>
				<tr>
				<td>Enter email:</td>
				<td><input type="email" name="email" value="" required></td>
				</tr>
				<tr>
				<td>Enter password:</td>
				<td><input type="password" name="password" value="" required></td>
				</tr>
			</table>
		</div>
		<div>
			<input type="submit" value="Login with email">
		</div>
	</form>
	<br>

	<form action="/signup" method="GET">
		<input type="submit" value="New User Sign-Up">
	</form>		
	<form action="/forgot-password" method="GET">
		<input type="submit" value="Forgot Password">
	</form>		
</body>
