<style type="text/css">.error {color: red;}</style>

<h1>Main Profile</h1>
<br>

<table>
	<tr>
		<td>Username / Email:</td>
		<td><input type="username" name="username" value="{{ .UserName }}" disabled></td>
	</tr>
	<tr>
		<td>Full Name:</td>
		<td><input type="fullname" name="fullname" value="{{ .Fullname }}" disabled></td>
	</tr>
	<tr>
		<td>Telephone:</td>
		<td><input type="telephone" name="telephone" value="{{ .Telephone }}" disabled></td>
	</tr>
	<tr>
		<td>Address:</td>
		<td><input type="address" name="address" value="{{ .Address }}" disabled></td>
	</tr>
</table>
<br>

<form action="/edit" method="GET">
	<input type="submit" value="Edit">
</form>		
<form action="/logout" method="GET">
	<input type="submit" value="Logout">
</form>		

