<style type="text/css">.error {color: red;}</style>

<h1>Reset Password</h1>
<br>

<form action="/reset-password" method="POST">
	<p class="error">{{ .ErrMsg }}</p>
	<table>
		<tr>
			<td>Email:</td>
			<td><input type="email" name="email" value="{{ .UserName }}" readonly></td>
		</tr>
		<tr>
			<td>New Password:</td>
			<td><input type="password" name="password" value="" required></td>
		</tr>
	</table>
	<br>

	<input type="submit" value="Reset Password">
</form>		
<form action="/" method="GET">
	<input type="submit" value="Cancel">
</form>		

