<style type="text/css">.error {color: red;}</style>

<h1>Sign Up</h1>
<br>

<form action="/" method="POST">
	<div>
		<input type="submit" value="Sign-Up with Google">
	</div>
</form>
<br>

<form action="/signup" method="POST">
	<p class="error">{{ .ErrMsg }}</p>
	<table>
		<tr>
			<td>Email:</td>
			<td><input type="email" name="email" value="" required></td>
		</tr>
		<tr>
			<td>Password:</td>
			<td><input type="password" name="password" value="" required></td>
		</tr>
		<tr>
			<td>Confirmation:</td>
			<td><input type="password" name="confirmation" value="" required></td>
		</tr>
	</table>
	<br>

	<input type="submit" value="Save & Continue">
</form>		
<form action="/" method="GET">
	<input type="submit" value="Existing User Login">
</form>		

